# Tushare API Token (获取: https://tushare.pro)
TUSHARE_TOKEN=your_tushare_token_here

# Tushare HTTP Proxy URL (可选)
TUSHARE_HTTP_URL=http://lianghua.nanyangqiankun.top

# Tushare Request Delay (seconds, 默认 0.5)
TUSHARE_REQUEST_DELAY=0.5
